@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.title{
    text-align: center;
    color: midnightblue;
}

.momo-trust {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}