@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.title{
    text-align: center;
    color:rgb(69, 48, 30);
}

.navbar_bg{
    background-color: rgba(142, 134, 126, 0.509); 
}

.momo-trust {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}